<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>D3 Example</strong> by <a href="https://github.com/RincewindWizzard">RincewindWizzard</a>.
            Source code is found on <a href="https://github.com/RincewindWizzard/webpack-d3-example">Github</a>
        </p>
    </div>
</footer>