<section class="hero  is-info">
    <div class="hero-body">
        <p class="title">
            D3 Example
        </p>
        <p class="subtitle">
            nothing special
        </p>
    </div>
</section>